body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes up full viewport height */
  }
  
  header {
    flex: 0 60px;
  }
  
  .header {
    text-align: center;
  }
  
  .menu {
    text-align: center;
  }
  
  .menu menu {
    display: inline-block;
  }
  
  .navItem {
    display: inline;
  }
  
  main {
    flex: 1; /* Let main fill up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex; /* Use flexbox for menu items */
    flex-direction: row;
    list-style: none;
  }
  
  menu .navItem {
    padding: 0 0.3em;
  }
  
  @media (max-height: 500px) {
    header,
    footer {
      display: none; /* Hide header and footer on small screens */
    }
  }
  