#count {
    color: rgb(205, 26, 26);
  }
.player-name {
  color: rgb(33, 44, 245);
}
.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}